<div class="col-lg-12 header">
  Customer  :  List
</div>
<div class="col-lg-12" style="padding-left:0px">
        <div class="table-top">
            <div class="form-group col-sm-2 mt-2">
                <input type="text" id="myInput" (keyup)="search($event)"  class="form-control" placeholder="search..."  [(ngModel)]="filterText"/>
            </div>
        
        </div>
        <app-table
         [datas]="data"
         [column]="columnList"
         [filterField]="filterField"
         [filterText]="filterText"
         (setID)="delete($event)" 
         [editlink]="link"
         [custMode]="true"
         ></app-table>
    </div>
    <router-outlet></router-outlet>