<div *ngIf="visible" class="bg-hider"></div>
<div *ngIf="visible" class="dialog" [style.width]="dialogWidth">
    <ul class="nav nav-tabs">
        <li class="nav-item position-relative">
            <a class="nav-link active">
                <i class="fa fa-calendar-alt"></i>
                <span>{{text}}</span>
            </a>
        </li>
    </ul>
    <div class="form-div">
        <div class="card">
            <div class="card-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>




