<ul class="side-nav" id="sidebar">
  <!-- <li class="nav-item" routerLink="employee" routerLinkActive="active">
    <a class="nav-link">
      Employee

    </a>
  </li>
  <li class="nav-item" routerLink="course" routerLinkActive="active">
    <a class="nav-link">
      Course
    </a>
  </li>
  <li class="nav-item" routerLink="vehicle" routerLinkActive="active">
    <a class="nav-link">
      Vehicle
    </a>
  </li>
  <li class="nav-item" routerLink="vehicle_type" routerLinkActive="active">
    <a class="nav-link">
      Vehicle Type
    </a>
  </li>
  <li class="nav-item" routerLink="student" routerLinkActive="active">
    <a class="nav-link">
      Student
    </a>
  </li> -->
  <li class="nav-item" routerLink="product" routerLinkActive="active">
    <a class="nav-link">
      Product
    </a>
  </li>

  <li class="nav-item" routerLink="customer" routerLinkActive="active">
    <a class="nav-link">
      Customer
    </a>
  </li>

  <li class="nav-item" routerLink="cart" routerLinkActive="active">
    <a class="nav-link">
      Cart
    </a>
  </li>
  
</ul>
