<ul class="side-nav" id="sidebar">
  <li class="nav-item" routerLink="buy" routerLinkActive="active">
    <a class="nav-link">
      Buy
    </a>
  </li>

  <li class="nav-item" routerLink="product" routerLinkActive="active">
    <a class="nav-link">
      Product
    </a>
  </li>

  <li class="nav-item" routerLink="customer" routerLinkActive="active">
    <a class="nav-link">
      Customer
    </a>
  </li>

  <li class="nav-item" routerLink="cart" routerLinkActive="active">
    <a class="nav-link">
      Cart
    </a>
  </li>
  <li class="nav-item" routerLink="order" routerLinkActive="active">
    <a class="nav-link">
      Order
    </a>
  </li>
  
</ul>
